.whole
{
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2rem;
}
.leftbox{
	width: 23rem;
	height: 19.5rem;
	background-color: #e5edf6;
	justify-content: center;
}
.rightbox
{
	margin-left: 2rem;
	margin-right: 2rem;
	width: 23rem;
	height: 23rem;
	background-color: #e5edf6;
	display: flex;
	justify-content: center;
}
.facebook{
	margin-top: 9rem;
	color: blue;
	font-family: Helvetica;
	font-size: 3.3rem;
}
.facebookhelp{
	margin-top: 1rem;
	color: black;
	font-size: 1.7rem;
}
.box{
	margin-top: 5rem;
	width: 18.8rem;
	background-color: white; 
	height: 17rem;
	border-radius: 0.4rem;
	border: 0.02rem solid grey;
}
.email{
	margin-top: 1rem;
	margin-left: 1rem;
}
.password{
	margin-top: 0.5rem;
	margin-left: 1rem;
}
.login
{
	margin-top: 1.5rem;
	margin-left: 1rem;
	background-color: blue;
	border-radius: 0.4rem;
	width: 16.8rem;
}
.logind
{
	padding: 0.5rem;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: arial;
	font-size: 0.9rem;
}
.forgot
{
	margin-top: 0.5rem;
	margin-left: 1.2rem;
	width: 17rem;
}	
.forgott
{
	padding-top: 1rem;
	text-align: center;
	color: blue;
	font-family: arial;
	font-size: 0.65rem;
}
.create
{
	margin-top: 1rem;
	margin-left: 4.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9rem;
	height: 2rem;
	color: white;
	background-color: rgb(24, 194, 49);
	border-radius: 0.3rem;
	font-family: arial;
	font-size: 0.85rem;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.email input
{
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 0.6rem;
}
.password input
{
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 0.6rem;
}
.logind a
{
	text-decoration: none;
	color: white;
}
.forgott a
{
	text-decoration: none;
}

